{% extends 'home/basic.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}


{% block css %}{%endblock%}



{% block body%}
<!-- Services -->
<div class="section-full content-inner-2 bg-gray wow fadeIn mt-5" data-wow-duration="2s" data-wow-delay="0.6s">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="title">WHY CHOOSE US</h2>
            <p>In the world of competitive markets, renewable and sustainable facultative power supplies, Solar energy
                is free for the taking from the natural resources.</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="img-carousel-dots owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3">
                    <div class="item">
                        <div class="service-box style4">
                            <div class="icon-lg m-b5 text-primary radius">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <img src="{%static 'images/home/solar-panel.svg'%}" alt="">
                                </a>
                            </div>
                            <h3 class="title">Solar Panels</h3>
                            <div class="no">1</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box style4">
                            <div class="icon-lg m-b5 text-primary radius">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <img src="{%static 'images/home/lithium-battery.svg'%}" alt="">
                                </a>
                            </div>
                            <h3 class="title">Battery</h3>
                            <div class="no">2</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box style4">
                            <div class="icon-lg m-b5 text-primary radius">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <img src="{%static 'images/home/bulb.svg'%}" alt="">
                                </a>
                            </div>
                            <h3 class="title">Invertor</h3>
                            <div class="no">3</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box style4">
                            <div class="icon-lg m-b5 text-primary radius">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <img src="{%static 'images/home/street-light.svg'%}" alt="">
                                </a>
                            </div>
                            <h3 class="title">Street Light</h3>
                            <div class="no">4</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service-box style4">
                            <div class="icon-lg m-b5 text-primary radius">
                                <a href="javascript:void(0);" class="icon-cell">
                                    <img src="{%static 'images/home/solar-psu.svg'%}" alt="">
                                </a>
                            </div>
                            <h3 class="title">Solar PSU</h3>
                            <div class="no">5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<div class="section-full bg-img-fix content-inner-2 overlay-black-dark contact-action style2">
    <div class="container">
        <div class="row relative">
            <div class="col-md-12 col-lg-8 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="contact-no-area">
                    <h2 class="title">A company involved in service, maintenance</h2>
                    <div class="contact-no">
                        <div class="contact-left">
                            <h3 class="no"><i class="sl-call-in"></i>1800-11-2454 (Toll-Free)</h3>
                        </div>
                        <div class="contact-right">
                            <a href="{%url 'contactus'%}" class="site-button appointment-btn btnhover13">Get
                                Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 contact-img-bx wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                <img src="{%static 'images/home/pic1.png'%}" alt="">
            </div>
        </div>
    </div>
</div>


<div class="section-full content-inner-2 bg-gray wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
    <div class="container">
        <div class="section-head text-black text-center">
            <h2 class="title">Our Products</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="img-carousel-dots-nav owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3">

                    {%for prod in allProds%}
                    <div class="item">
                        <div class="dlab-box project-bx">
                            <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect zoom">
                                <a href="/product/{{prod}}"><img
                                        src="/static/images/products/{{prod}}/pic1.png" alt=""></a>
                            </div>
                            <div class="dlab-info">
                                <h5 class="dlab-title"><a
                                        href="/product/{{prod}}">{{prod}}</a></h5>
                            </div>
                        </div>
                    </div>

                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}



{% block script %}{%endblock%}