{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="ML-TOOLBOX" />
    <meta property="og:title" content="ML-TOOLBOX" />
    <meta property="og:description" content="ML-TOOLBOX" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{%static 'images/favicon.ico'%}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'images/favicon.png'%}" />

    <!-- PAGE TITLE HERE -->
    <!-- here heading will come -->
    <title>{% block title %}{% endblock %}</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/plugins.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.min.css'%}">
    <link class="skin" rel="stylesheet" type="text/css" href="{%static 'css/skin/skin-2.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/templete.min.css'%}">
    <!-- Google Font -->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
    </style>

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="{%static 'plugins/revolution/revolution/css/revolution.min.css'%}">

    <!-- here css will come -->
    {% block css %}{% endblock %}
</head>

<body id="bg">
    <div class="page-wraper">
        <div id="loading-area" class="solar-loading"></div>
        <!-- header -->
        <header class="site-header mo-left header-transparent header navstyle3">
            <!-- main header -->
            <div class="sticky-header main-bar-wraper navbar-expand-lg">
                <div class="main-bar clearfix ">
                    <div class="container clearfix">
                        <!-- website logo -->
                        <div class="logo-header mostion logo-white">
                            <a href="{%url 'home'%}"><img src="{%static '/images/logo.png'%}" alt=""></a>
                        </div>
                        <!-- nav toggle button -->
                        <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                            data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <!-- main nav -->
                        <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                            <div class="logo-header d-md-block d-lg-none">
                                <a href="{%url 'home'%}"><img src="{%static '/images/logo.png'%}" alt=""></a>
                            </div>
                            <ul class="nav navbar-nav">

                                <li> <a href="{%url 'home'%}">Home</a></li>
                                <li> <a href="{%url 'about'%}">About Us</a></li>
                                <li>
                                    <a href="javascript:void(0);">Products<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu right" style="max-height: 250px; overflow-y: scroll;">
                                        <li> <a href="/product/BATTERY LESS SOLAR INVERTER 1 KVA">BATTERY LESS SOLAR INVERTER 1 KVA</a></li>
                                        <li> <a href="/product/LEAD ACID TALL TUBULAR BATTERY">LEAD ACID TALL TUBULAR BATTERY</a></li>
                                        <li> <a href="/product/MPPT SOLAR PCU 1KVA-12V">MPPT SOLAR PCU 1KVA-12V</a></li>
                                        <li> <a href="/product/MPPT SOLAR PCU 5KVA-48-96V">MPPT SOLAR PCU 5KVA-48-96V</a></li>
                                        <li> <a href="/product/PWM SOLAR PCU 3KVA-48V">PWM SOLAR PCU 3KVA-48V</a></li>
                                        <li> <a href="/product/PWM SOLAR PCU 2515-24V">PWM SOLAR PCU 2515-24V</a></li>
                                        <li> <a href="/product/PWM SOLAR PCU 1215-12V">PWM SOLAR PCU 1215-12V</a></li>
                                        <li> <a href="/product/MPPT 125O">MPPT 125O</a></li>
                                        <li> <a href="/product/LFP MPPT 125O">LFP MPPT 125O</a></li>
                                    </ul>
                                </li>
                                <li> <a href="{%url 'service'%}">Service</a></li>
                                <li> <a href="{%url 'gallery'%}">Gallery</a></li>
                                <li> <a href="{%url 'contactus'%}">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header -->


        {% block body %}{% endblock %}

        <!-- footer -->
        <footer class="site-footer text-uppercase">
            <div class="footer-top" style="background-image:url(/static/images/slide3.jpg); background-size: contain;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-5 col-xl-2 col-lg-2 col-sm-6 footer-col-4">
                            <div class="widget widget_services border-0">
                                <h5 class="m-b30 text-white">Company</h5>
                                <ul>
                                    <li><a href="{%url 'about'%}">About Us </a></li>
                                    <li><a href="{%url 'home'%}">Home </a></li>
                                    <li><a href="{%url 'contactus'%}">Contact Us</a></li>
                                    <li><a href="{%url 'service'%}">Our Services</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-7 col-xl-2 col-lg-3 col-sm-6 footer-col-4">
                            <div class="widget widget_services border-0">
                                <h5 class="m-b30 text-white">Useful Link</h5>
                                <ul>
                                    <li> <a href="/product/BATTERY LESS SOLAR INVERTER 1 KVA">BATTERY LESS SOLAR
                                            INVERTER 1 KVA</a></li>
                                    <li> <a href="/product/MPPT SOLAR PCU 1KVA-12V">MPPT SOLAR PCU 1KVA-12V</a></li>
                                    <li> <a href="/product/MPPT SOLAR PCU 5KVA-48-96V">MPPT SOLAR PCU 5KVA-48-96V</a>
                                    </li>
                                    <li> <a href="/product/PWM SOLAR PCU 3KVA-48V">PWM SOLAR PCU 3KVA-48V</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 col-lg-3 col-sm-6 footer-col-4">
                            <div class="widget widget_getintuch">
                                <h5 class="m-b30 text-white ">Contact us</h5>
                                <ul>
                                    <li><i class="ti-location-pin"></i><strong>address</strong> 207-208, Ground Floor,
                                        Chandan Park, Street 4, Siraspur, New Delhi-110042</li>
                                    <li><i class="ti-mobile"></i><strong>phone</strong> 1800 112 454 (24/7 Support Line)
                                    </li>
                                    <li><i class="ti-email"></i><strong>email</strong>info@9energysolar.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4 col-lg-4 col-sm-6 footer-col-4 ">
                            <div class="widget widget_gallery gallery-grid-4">
                                <h5 class="m-b30 text-white">Gallery</h5>
                                <ul>
                                    <li class="img-effect2"> <a
                                            href="/product/BATTERY%20LESS%20SOLAR%20INVERTER%201%20KVA"><img
                                                src="{%static 'images/gallery/pic1.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a
                                            href="/product/LEAD%20ACID%20TALL%20TUBULAR%20BATTERY"><img
                                                src="{%static 'images/gallery/pic6.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="/product/MPPT%20SOLAR%20PCU%201KVA-12V"><img
                                                src="{%static 'images/gallery/pic11.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="/product/MPPT%20SOLAR%20PCU%205KVA-48-96V"><img
                                                src="{%static 'images/gallery/pic16.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="/product/PWM%20SOLAR%20PCU%203KVA-48V"><img
                                                src="{%static 'images/gallery/pic21.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="/product/PWM%20SOLAR%20PCU%202515-24V"><img
                                                src="{%static 'images/gallery/pic26.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="/product/PWM%20SOLAR%20PCU%201215-12V"><img
                                                src="{%static 'images/gallery/pic31.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="/product/MPPT%20125O"><img
                                                src="{%static 'images/gallery/pic36.png'%}" alt=""></a> </li>
                                    <li class="img-effect2"> <a href="/product/LFP%20MPPT%20125O"><img
                                                src="{%static 'images/gallery/pic37.png'%}" alt=""></a> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- footer bottom part -->
            <div class="footer-bottom">
                <div class="container text-center">
                    <span>Copyright © 2022-23 | Created By <a
                            href="https://www.linkedin.com/in/prince-mishra-7379101ab/" target="_blank"> Prince
                            Mishra</a></span>
                </div>
            </div>
        </footer>
        <!-- footer -->


        <!-- scroll top button -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="{%static 'js/jquery.min.js'%}"></script><!-- JQUERY.MIN JS -->
    <script src="{%static 'plugins/wow/wow.js'%}"></script><!-- WOW JS -->
    <script src="{%static 'plugins/bootstrap/js/popper.min.js'%}"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="{%static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="{%static 'plugins/bootstrap-select/bootstrap-select.min.js'%}"></script><!-- FORM JS -->
    <script src="{%static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js'%}"></script><!-- FORM JS -->
    <script src="{%static 'plugins/magnific-popup/magnific-popup.js'%}"></script><!-- MAGNIFIC POPUP JS -->
    <script src="{%static 'plugins/counter/waypoints-min.js'%}"></script><!-- WAYPOINTS JS -->
    <script src="{%static 'plugins/counter/counterup.min.js'%}"></script><!-- COUNTERUP JS -->
    <script src="{%static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
    <script src="{%static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
    <script src="{%static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
    <script src="{%static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
    <script src="{%static 'plugins/lightgallery/js/lightgallery-all.min.js' %}"></script><!-- Lightgallery -->
    <script src="{%static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
    <script src="{%static 'js/dz.carousel.min.js' %}"></script><!-- SORTCODE FUCTIONS  -->
    <script src="{%static 'plugins/countdown/jquery.countdown.js' %}"></script><!-- COUNTDOWN FUCTIONS  -->
    <script src="{%static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->
    <script src="{%static 'plugins/rangeslider/rangeslider.js' %}"></script><!-- Rangeslider -->

    <script src="{%static 'js/jquery.lazy.min.js' %}"></script>
    <!-- REVOLUTION JS FILES -->
    <script src="{%static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{%static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js' %}">
    </script>
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js' %}">
    </script>
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js' %}">
    </script>
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}">
    </script>
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js' %}">
    </script>
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js' %}">
    </script>
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js' %}">
    </script>
    <script src="{%static 'plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{%static 'js/rev.slider.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_1();
            $('.lazy').Lazy();
        }); /*ready*/
    </script>
    {% block script %} {% endblock %}
</body>

</html>